<?xml version="1.0" encoding="UTF-8" ?>
        <module>
            <name>tpvpagantis</name>
            <displayName><![CDATA[]]></displayName>
            <version><![CDATA[1.0.0]]></version>
            <description><![CDATA[Aceptar cobros con una cuenta de pagantis.com]]></description>
            <author><![CDATA[Pagantis.com]]></author>
            <tab><![CDATA[payments_gateways]]></tab>
	<confirmUninstall>¿Estás seguro que quieres desinstalar el módulo?</confirmUninstall>
            <is_configurable>1</is_configurable>
            <need_instance>1</need_instance>
	<limited_countries></limited_countries>
        </module>